.order__type li { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.order-top { margin-bottom: 40px; border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; }
.order-top .container { padding: 20px 0 15px 0; color: #515050; font-size: 24px; text-transform: uppercase; overflow: hidden; }
.order-top .container span { float: right; width: 310px; }

.order__title { padding-bottom: 10px; border-bottom: 3px solid #d1d1d1; font-size: 24px; color: #000; text-transform: uppercase; }
.order__title span { margin-right: 5px; color: #be0e30; }

.order__date { position: relative; float: left; width: 645px; height: 325px; }

.order__pic { float: right; }
.order__pic img { display: block; }

.order__attention { position: absolute; left: 0; bottom: 0; height: 42px; padding: 0 17px 0 44px; line-height: 42px; border: 2px solid #be0e30; font-family: Arial, Tahoma, sans-serif; color: #515050; }
.order__attention i { position: absolute; top: 6px; left: 20px; background: url('../img/icons-s1312154069.png') 0 -268px no-repeat; width: 6px; height: 29px; }

.order_step1 { margin-bottom: 50px; overflow: hidden; }

.order_step2 .order__title { border-bottom: none; }

.order_step3 { padding: 40px 0 20px 0; }
.order_step3 .order__title { margin-bottom: 20px; }

.order_step4 { padding: 20px 0 60px 0; background: #f5f5f5; }

.order__type { position: relative; margin-right: 2px; border-bottom: 2px solid #be0e30; overflow: hidden; z-index: 10; }
.order__type li { float: left; width: 184px; height: 40px; margin: 0 0 3px 3px; background: #e5e5e5; text-align: center; line-height: 43px; font-size: 18px; color: #515050; cursor: pointer; text-transform: uppercase; }
.order__type li:first-child { width: 230px; margin-left: 0px; }
.order__type li.active { height: 43px; margin-bottom: 0px; background: #be0e30; line-height: 46px; color: #fff; }

.order__victim { position: relative; padding: 40px 0 20px 0; margin-top: -3px; background: #f6f6f6; z-index: 5; }

.order__agree { padding: 40px 0 50px 0; overflow: hidden; }
.order__agree .check { float: left; margin-right: 70px; font-family: 'Cuprum', Tahoma, Arial, sans-serif; font-size: 18px; color: #515050; }
.order__agree .check a { color: #515050; border-bottom: 1px dotted #8E8E8E; }
.order__agree span { position: relative; float: left; height: 23px; padding-left: 110px; line-height: 23px; font-size: 18px; color: #515050; }
.order__agree span i { position: absolute; top: -1px; left: 0; background: url('../img/icons-s1312154069.png') 0 0 no-repeat; width: 97px; height: 23px; }

.order__payment { overflow: hidden; }
.order__payment input, .order__payment span { float: left; height: 90px; line-height: 90px; font-size: 30px; text-transform: uppercase; font-family: 'Cuprum', Tahoma, Arial, sans-serif; }
.order__payment input { margin-right: 50px; padding: 0 60px; background: #be0e30; color: #fff; text-align: center; cursor: pointer; }
.order__payment span { color: #4c4c4c; }

.datepicker { margin-right: -30px; overflow: hidden; }
.datepicker li { float: left; width: 202px; margin-right: 20px; }
.datepicker table { width: 100%; border-spacing: 1px; color: #777676; }
.datepicker th { width: 28px; height: 28px; text-align: center; font-size: 14px; font-weight: normal; }
.datepicker span { display: block; width: 28px; height: 28px; margin: 0 1px 1px 0; line-height: 28px; text-align: center; background: #f6f6f6; font-family: Arial, Tahoma, sans-serif; cursor: pointer; }
.datepicker .no-active { color: #cbcbcb; }
.datepicker .active { background: #be0e30; color: #fff; }

.datepicker__month { height: 40px; line-height: 40px; border-bottom: 1px solid #d1d1d1; font-size: 18px; color: #000; }
