@import "lib/base";
@import "lib/animations";
@import "lib/keyframes";
//variables
$red: #be0e30;
// gradients for ie
$experimental-support-for-svg: true;
// global sprites
$icons: sprite-map("icons/*.png", $spacing: 10px);
//extend
%hide-text {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}
%selection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}