@import "base";
* { 
	margin: 0; 
	padding: 0;
	//-webkit-text-size-adjust: none; 
}
body, html {
	height: 100%;
}
body {
	background: #fff;
	font: {
	  family: 'Cuprum', Tahoma, Arial, sans-serif;
	  weight: normal;
	  size: 12px;
	}
	//-webkit-transform: translate3d(0,0,0);
	//-weblit-backface-visibility: hidden;
}
// resets
a img, fieldset {
	border:none;
}
a {
	text-decoration:none;
}
li {
	list-style: none;
}
input, textarea, button {
	border: none;
	outline: none;
	font-family: Arial,sans-serif;
}
button {
	line-height: 1;
	cursor: pointer;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
// common styles
.h2 {
	font-family: Georgia, Tahoma, sans-serif;
	font-size: 16px;
	color: #000;
}
.h3 {
	font-size: 14px;
}
.out {
	position: relative;
	margin: 0 auto -130px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.push {
	height: 130px;
	clear: both;
}
.container {	
	width: 980px;
	margin: 0 auto;
}
//top
.top-wrap {
	height: 40px;
	background: #e7e7e7;
	ul {
		overflow: hidden;
	}	
}
.top-nav {
	float: right;
	ul {
		border-right: 1px solid #e5e5e5;		
		overflow: hidden; 
	}
	li {
		float: left;	
		&:first-child {
			border-left: 1px solid #c4c4c4;
			&.active {
				border: none;
			}
		}		
	}
	a {
		position: relative;
		display: block;
		height: 40px;
		line-height: 40px;
		padding: 0 24px;
		border-left: 1px solid #e5e5e5;
		border-right: 1px solid #c4c4c4;
		font-family: Arial, Tahoma, sans-serif;
		color: #515050;
		&.active {
			margin: 0 -1px 0 -2px;
			padding: 0 21px 0 22px;
			background: $red;
			color: #fff;
			&:hover {
				color: #fff;
			}
		}
		&:hover {
			color: $red;
		}
	}
}
//header
.header {
	background: #f3f3f3;
	.container {
		position: relative;
		height: 118px;
		overflow: hidden;
	}
}
.logo {
	float: left;
	margin-top: 25px;
	a {
		display: block;
		margin-bottom: 15px;
		@include sized-sprite($icons, logo);
		@extend %hide-text;
	}
	span {
		font-size: 18px;
		color: #515050;
		text-transform: uppercase;
	}
}
.buy-holiday {
	position: absolute;
	top: 45px;
	left: 435px;
	font-size: 24px;
	color: #515050;
	text-transform: uppercase;
}
.contacts {
	float: right;
	margin-top: 20px;
	li {
		margin-bottom: 8px;
		text-align: right;
		&:first-child {
			margin-bottom: 5px;
			font-size: 32px;
			color: #000;
		}
	}
	span, a {
		position: relative;
		font-size: 14px;
		color: #9a9a9a;
	}
	i {
		position: absolute;
		top: 0;
		left: -20px;
		@include sized-sprite($icons, skype);
	}
}
//menu
.menu {
	background: #fff;
}
.menu_fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	@include box-shadow(rgba(0,0,0,0.3) 0 5px 5px);
	z-index: 100;
}
.nav, .filter {
	ul {
		overflow: hidden;
	}
	li {
		float: left;
	}
	a {
		display: block;
		height: 30px;		
		line-height: 31px;
		font-size: 24px;
		color: #515050;
		text-transform: uppercase;		
		&:hover {
			color: $red;
		}
	}
}
//nav
.nav {
	position: relative;
	margin: 0 -50px 0 -17px;
	ul {
		position: relative;		
		padding: 15px 0 16px 0;
		z-index: 10;
	}
	li {
		margin-right: 44px;
	}
	a {
		padding: 0 17px;
		&.active {
			color: #fff;
		}		
	}
}
//filter
.filter-wrap {	
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	ul {
		position: relative;
		padding: 17px 0 14px 0;
		z-index: 10;
	}
	a {
		padding: 0 9px;
	}
}
.filter {
	position: relative;
	a {
		&.active {
			color: #fff;
		}
	}
}
.filter__die, .nav__die {
  position: absolute;  
  left: 0px;
  width: 0px;
  height: 30px;  
  background: $red;
  z-index: 5;
}
.filter__die {
	top: 17px;
}
.nav__die {
	top: 15px;
}
//catalog
.catalog {
	display: none;
	width: 1020px;
	padding-top: 20px;
	margin: 0 auto;
	ul {
		margin-bottom: 35px;
		font-size: 0;
	}
	li {
		position: relative;
		display: inline-block;
		width: 230px;
		margin-right: -20px;
		padding: 20px;
		z-index: 5;
		&:hover {
			background: #f4f4f4;
			z-index: 10;
			@include box-shadow(rgba(0,0,0,0.6) 0 0 4px);
			.catalog__link {
				a {
					border-color: #747474;
					&:hover {
						border-color: $red;
					}
				}				
			}
			.catalog__name {
				a {
					color: #be0e30;
				}				
			}
			.catalog__pic {
				i {
					display: block;
				}
			}
		}
	}
}
.catalog__name {
	display: block;
	margin-bottom: 15px;
	text-align: center; 
	a {
		font-size: 18px;
		color: #000;
		text-transform: uppercase;
	}
}
.catalog__pic {
	position: relative;
	margin-bottom: 20px;
	img {
		display: block;
	}
	i {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -18px 0 0 -18px;
		@include sized-sprite($icons, arr);
	}
}
.catalog__link {
	overflow: hidden;
	a {
		width: 107px;
		height: 38px;
		line-height: 38px;
		border: 1px solid #e8e8e8;
		font-size: 18px;
		text-align: center;
		color: #515050;
		&:hover {
			background: $red;
			border-color: $red;
			color: #fff;
		}
	}
}
.catalog__view {
	float: left;
}
.catalog__order {
	float: right;
}
//footer
.footer {
	padding: 30px 0 35px 0;		
	background: #303030;
	.container {
		position: relative;
		overflow: hidden;		
		font-family: Arial, Tahoma, sans-serif;
	}
}
.footer__contacts {
	float: left;
	li {
		margin-bottom: 5px;
		color: #bcbcbc;
		&:first-child {
			margin-bottom: 10px;
			color: #fff;
		}
	}	
	a {
		color: #bcbcbc;
	}
	span {
		margin-right: 15px;
	}
}
.footer__nav {
	float: right;	
	ul {
		overflow: hidden;
	}
	li {
		float: left;
		margin-left: 45px;
	}
	a {
		color: #bcbcbc;
		text-decoration: underline;
	}
}
//video
.video {
	display: none;
	position: fixed;
	top: 150px;
	left: 50%;
	width: 690px;
	padding: 20px;
	margin-left: -370px;
	background: rgba(0,0,0,0.9);
	z-index: 200;
}
.video__close {
	position: absolute;
	top: 0;
	right: 0;
	width: 21px;
	height: 21px;
	background: none;
	i {		
		display: block;
		margin: 6px;
		@include sized-sprite($icons, close);
	}
}
.video__title {
	padding-bottom: 20px;
	text-align: center;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
}
.video__order {
	padding-top: 20px;
	text-align: center;
	a {
		display: inline-block;
		height: 60px;
		padding: 0 90px;
		background: $red;
		font-size: 30px;
		color: #fff;
		line-height: 60px;
		font-family: 'Cuprum', Tahoma, Arial, sans-serif;
		text-transform: uppercase;
	}
}
.opacity {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 190;
}
//form-field
.form-field {
	margin-bottom: 20px;
	overflow: hidden;
	label, span {
		float: left;
		height: 40px;
		line-height: 40px;
	}
	label {
		width: 300px;
		font-size: 18px;
		color: #515050;
		&.error {
			width: auto;
			font-family: Arial, Tahoma, sans-serif;
			color: #8e8e8e;
			font-size: 12px;
			color: $red;
		}
	}
	input {
		float: left;
		width: 385px;
		height: 38px;
		margin-right: 20px;
		padding: 0 15px;
		border: 1px solid #d1d1d1;
		&.error {
			border-color: #F3A4A4;
		}
	}
	i {
		margin-left: 5px;
		font-style: normal;
		color: $red;
	}
	span {
		font-family: Arial, Tahoma, sans-serif;
		color: #8e8e8e;
	}
}
.form-field_bg { 
	input {
		background: #f6f6f6;
	}		
}
.form-field__check {
	padding: 8px 0;
	overflow: hidden;
	label {
		width: auto;
		margin-right: 30px;
		height: 23px;
		line-height: 23px;
		font-size: 14px;
	}
	i {
		margin: 0;
	}
}
.check {
	position: relative;
	height: 23px;
	line-height: 23px;
	padding-left: 40px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #8e8e8e;
	cursor: pointer;
	@extend %selection;	
	i, input {
		position: absolute;
		top: 0;
		left: 0;
		width: 23px;
		height: 23px;		
	}
	input {
		opacity: 0;		
		z-index: 10;
	}
	input[type="checkbox"] + i, input[type="radio"] + i {
		@include sized-sprite($icons, check);
	}
	input[type="checkbox"]:checked + i, input[type="radio"]:checked + i {
 		@include sized-sprite($icons, check-in);
	}
}
