.ie7 {
	.catalog {
		li {
			display: inline;
			zoom: 1;
		}
	}	
	.video__close {
		zoom: 1;
	}
}
.ie7, .ie8 {
	.video {
		background: #000;
	}
	.check {
		i {
			display: none;
		}
		input {
			border: none;
		}
	}
}